#root {
  margin: auto;
  padding: auto;
  max-width: 60%;
}

.Header {
  font-size: 50px;
}

td {
  white-space: nowrap;
}
td:nth-child(2) {
  width: 100%;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}